################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NukeUpdater/NukeUpdater.v12.suo
